
{% extends "base.html" %}
{% block content %}
<h2>Auditoria</h2>
<table class="table">
  <tr><th>Data</th><th>Usuário</th><th>Ação</th><th>Entidade</th><th>ID</th><th>Detalhes</th></tr>
  {% for l in logs %}
    <tr>
      <td>{{ l.created_at.strftime('%d/%m/%Y %H:%M:%S') }}</td>
      <td>{{ l.user_email or '-' }}</td>
      <td>{{ l.action }}</td>
      <td>{{ l.entity }}</td>
      <td>{{ l.entity_id or '-' }}</td>
      <td>{{ l.details or '' }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
